{
	acme_dns inwx {
		username {$INWX_USERNAME}
		password {$INWX_PASSWORD}
	}

	dns inwx {
		username {$INWX_USERNAME}
		password {$INWX_PASSWORD}
	}

	ech lukasjordan.com

	events {
		on cert_obtained exec /usr/bin/stalwart_reload_tls.sh
	}
}

(logging) {
	log {
		output file /data/logs/access.log {
			roll_size 50mb
			roll_keep 5
		}
		format json
	}
	log {
		output stderr
		format json
	}
}

(common) {
	import logging

	@spam path *env* *.git* *wp-admin* *phpmyadmin*
	handle @spam {
		abort
	}

	defender drop {
		ranges aliyun aws deepseek githubcopilot gcloud oci azurepubliccloud openai mistral vultr digitalocean linode
	}

	header {
		Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}

	request_body {
		max_size 512MB
	}

	encode
}

(wkd_lua) {
	root * /srv/wkd/lua.one
	file_server
	header Access-Control-Allow-Origin *
	header Content-Type application/octet-stream
}

lua.one {
	import common
	handle_path /.well-known/openpgpkey/* {
		import wkd_lua
	}
	handle {
		reverse_proxy * littlelink:3000
	}
}
*.lua.one {
	import common
	@id host id.lua.one
	handle @id {
		reverse_proxy * pocket-id:1411
	}
	
	@atuin host atuin.lua.one
	handle @atuin {
		reverse_proxy * atuin:8888
	}

	@kitchenowl host kitchen.lua.one
	handle @kitchenowl {
		reverse_proxy * kitchenowl:8080
	}

	@rustypaste host share.lua.one s.lua.one
	handle @rustypaste {
		reverse_proxy * rustypaste:8000
	}

	@linkding host bookmarks.lua.one b.lua.one
	handle @linkding {
		reverse_proxy * linkding:9090
	}

	@vaultwarden host vault.lua.one
	handle @vaultwarden {
		reverse_proxy * vaultwarden:80 {
			header_up X-Real-IP {remote_host}
		}
	}

	@bookstack host wiki.lua.one
	handle @bookstack {
		reverse_proxy * bookstack:80
	}

	@miniflux host rss.lua.one
	handle @miniflux {
		reverse_proxy * miniflux:8080
	}

	@redlib host reddit.lua.one
	handle @redlib {
		abort
		# reverse_proxy * redlib:8080
	}

	@jellyfin host jellyfin.lua.one
	handle @jellyfin {
		reverse_proxy * bore-server:8096
	}

	@stalwart host mail.lua.one
	handle @stalwart {
		reverse_proxy * stalwart:8080
	}

	@wkd host openpgpkey.lua.one
	handle @wkd {
		handle_path /.well-known/openpgpkey/lua.one/* {
			import wkd_lua
		}
	}

	handle {
		abort
	}
}

(wkd_lukasjordan) {
	
		root * /srv/wkd/lukasjordan.com
		file_server
		header Access-Control-Allow-Origin *
		header Content-Type application/octet-stream
}

lukasjordan.com {
	import common

	handle_path /.well-known/openpgpkey/* {
		import wkd_lukasjordan
	}

	handle {
		# root * /srv/website
		# file_server
		redir https://codeberg.org/0xlua
	}
}

*.lukasjordan.com {
	import common

	@static host ftp.lukasjordan.com
	handle @static {
		root * /srv/ftp
		file_server browse
	}

	@wkd host openpgpkey.lukasjordan.com
	handle @wkd {
		handle_path /.well-known/openpgpkey/lukasjordan.com/* {
			import wkd_lukasjordan
		}
	}

	handle {
		abort
	}
}
